In [ ]:
Find all numbers that appear at least three times consecutively.

Return the result table in any order.

The result format is in the following example.



Example 1:

Input:
Logs table:
+----+-----+
| id | num |
+----+-----+
| 1  | 1   |
| 2  | 1   |
| 3  | 1   |
| 4  | 2   |
| 5  | 1   |
| 6  | 2   |
| 7  | 2   |
+----+-----+
Output:
+-----------------+
| ConsecutiveNums |
+-----------------+
| 1               |
+-----------------+
Explanation: 1 is the only number that appears consecutively for at least three times.

In [ ]:
select distinct
    l1.Num AS ConsecutiveNums
from
    Logs l1,
    Logs l2,
    Logs l3
where
    l1.Id = l2.Id - 1
    and l2.Id = l3.Id - 1
    and l1.Num = l2.Num
    and l2.Num = l3.Num;

In [ ]:

with cte as (select a.id as aid, a.num as anum, b.id as bid, b.num as bnum
from Logs as a join Logs as b
on a.id = b.id -1)

, cte2 as (select aid, anum, bid, bnum, b.id as cid, b.num as cnum
from cte as a join Logs as b
on a.aid = b.id - 2)

, cte3 as (select case when anum = bnum and bnum = cnum then anum end as ConsecutiveNums
from cte2)

select distinct ConsecutiveNums
from cte3
where ConsecutiveNums is not null